<div class="find-trip-container">
  <div class="header" role="banner">
     check-in     
  </div>
  <div class="form-container" *ngIf="!tripDetails; else tripInfo">
    <div class="form-header" role="heading">
        <h1>Retrieve your <br> booking <br> <span>__</span> </h1>
    </div>
    <p class="description">
       You can find your booking by filling out your family name and the booking
       code in your booking confirmation.
    </p>
    <form [formGroup]="findTripForm" (ngSubmit)="findTrip(findTripForm.value)" role="form" novalidate>
      <div class="form-input">
        <label for="bookingCode"> Booking Code </label>
        <input type="text" id="bookingCode" formControlName="bookingCode" aria-required="true" placeholder="Booking Code eg. PZIGZ3">
      </div> 
      <div *ngIf="findTripForm.controls['bookingCode'].touched">
          <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('required')">
              Booking code is required.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('minlength')">
              Booking code should be atleast 5 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('maxlength')">
              Booking code should be at most 6 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('pattern')">
              Booking code should only contain number [2-9] or alphabets
           </div>
      </div> 

      <div class="form-input">
        <label for="familyName"> Family Name </label>
        <input id="familyName" type="text" formControlName="familyName" placeholder="Family Name" aria-required="true">
      </div>
      <div *ngIf="findTripForm.controls['familyName'].touched">
          <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('required')">
              Family name is required.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('minlength')">
              Family name should be atleast 2 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('maxlength')">
              Family name should be at most 30 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('pattern')">
              Family name should only contain alphabets
           </div>
      </div>
      <div class="submit">
          <button [disabled]="!findTripForm.valid" aria-label="Retrieve Booking"> Retrieve Booking</button>
      </div>          
    </form>    
  </div>
  
  <ng-template #tripInfo>
    <div class="trip-error" *ngIf="tripDetails.error">
      <h2> Error Details</h2><hr>
      <p> <span class="label"> Error Code : </span> {{tripDetails.error.statusCode}} </p>
      <p> <span class="label"> Error Message:</span> {{tripDetails.error.message}} </p>
      <div class="close"> 
        <button (click)="tripDetails = null" aria-label="Close"> Close </button>
      </div>  
    </div>
    <div class="trip-details" *ngIf="!tripDetails.error">
      <h2> Booking Details</h2><hr>
      <p> <span class="label"> Booking Code : </span> {{tripDetails.bookingCode}} </p>
      <p> <span class="label"> Passengers : </span> {{tripDetails.passengers?.title?.name}} {{tripDetails.passengers?.firstName}} {{tripDetails.passengers?.lastName}} </p>
      <div class="close"> 
          <button (click)="tripDetails = null" aria-label="Check In"> Check In </button>
      </div> 
    </div>
    
  </ng-template>
</div>
