<div class="find-trip-container">
  <div class="header">
     check-in     
  </div>
  <div class="form-container" *ngIf="!tripDetails; else tripInfo">
    <div class="form-header">
        <h1>Retrieve your <br> booking <br> <span>__</span> </h1>
    </div>
    <p class="description">
       You can find your booking by filling out your family name and the booking
       code in your booking confirmation.
    </p>
    <form [formGroup]="findTripForm" (ngSubmit)="findTrip(findTripForm.value)">
      <div class="form-input">
        <label> Booking Code <br>
          <input type="text" formControlName="bookingCode" placeholder="Booking Code eg. PZIGZ3">
        </label>
      </div> 
      <div *ngIf="findTripForm.controls['bookingCode'].touched">
          <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('required')">
              Booking code is required.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('minlength')">
              Booking code should be atleast 5 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('maxlength')">
              Booking code should be at most 6 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['bookingCode'].hasError('pattern')">
              Booking code should only contain number [2-9] or alphabets
           </div>
      </div>      
      <div class="form-input">
        <label> Family Name <br>
          <input type="text" formControlName="familyName" placeholder="Family Name">
        </label> 
      </div>
      <div *ngIf="findTripForm.controls['familyName'].touched">
          <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('required')">
              Family name is required.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('minlength')">
              Family name should be atleast 2 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('maxlength')">
              Family name should be at most 30 characters.
           </div>
           <div class="alert" *ngIf=" findTripForm.controls['familyName'].hasError('pattern')">
              Family name should only contain alphabets
           </div>
      </div>
      <div class="submit">
          <button [disabled]="!findTripForm.valid"> Retrieve Booking</button>
      </div>          
    </form>    
  </div>
  
  <ng-template #tripInfo>
    <div class="trip-error" *ngIf="tripDetails.error">
      <p> Status Code : {{tripDetails.error.statusCode}} </p>
      <p> Error Message: {{tripDetails.error.message}} </p> 
    </div>
    <div class="trip-details" *ngIf="!tripDetails.error">
      <span> Booking Code : {{tripDetails.bookingCode}} </span>
      <h2> trip details goes here</h2>
    </div>
    <button (click)="tripDetails = null"> close </button>
  </ng-template>
</div>
